<div ng-hide="loading">

  <div ng-repeat="post in posts">


  <h1>{{post.name}}</h1>
  <p>
    {{post.content}}
  </p>
  <h2>{{post.comments.length}}</h2>
  <a href="#/comments/{{post.id}}">voir</a>
  </div>
</div>
